@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.error-container {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: -8px 0 0 -8px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: none;
}

//todo: Move border-xs-none, border-sm-none etc classes to global custom styles
/**
 * @description Implements border-xs-none, border-sm-none etc to reset border for different screen sizes
 */
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-down($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .border#{$infix}-none         { border-style: none !important; }
  }
}
